@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 160 25% 12%;
    --card: 0 0% 100%;
    --card-foreground: 160 25% 12%;
    --primary: 158 64% 30%; /* nyumba green */
    --primary-foreground: 0 0% 100%;
    --secondary: 152 30% 95%;
    --secondary-foreground: 160 25% 18%;
    --muted: 160 16% 95%;
    --muted-foreground: 160 8% 42%;
    --accent: 152 40% 92%;
    --accent-foreground: 160 25% 18%;
    --destructive: 0 72% 45%;
    --destructive-foreground: 0 0% 100%;
    --border: 160 14% 89%;
    --input: 160 14% 89%;
    --ring: 158 64% 30%;
    --radius: 0.6rem;
  }

  .dark {
    --background: 160 28% 8%;
    --foreground: 0 0% 96%;
    --card: 160 26% 11%;
    --card-foreground: 0 0% 96%;
    --primary: 158 55% 45%;
    --primary-foreground: 160 28% 8%;
    --secondary: 160 18% 18%;
    --secondary-foreground: 0 0% 96%;
    --muted: 160 16% 18%;
    --muted-foreground: 160 10% 65%;
    --accent: 160 20% 20%;
    --accent-foreground: 0 0% 96%;
    --destructive: 0 62% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 160 14% 22%;
    --input: 160 14% 22%;
    --ring: 158 55% 45%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
